/*Taken from https://github.com/chromium/chromium/blob/main/third_party/blink/renderer/core/html/resources/html.css,
with some modifications.*/

dialog:not([open]) {
    display: none;
}

dialog {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    /*background: -internal-light-dark(white, black);*/
    /*color: -internal-light-dark(black, white);*/
}

dialog[modal] {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    /* 6px + 2em = border + padding, as by default box-sizing is content-box. */
    max-width: calc(100% - 6px - 2em);
    max-height: calc(100% - 6px - 2em);
}

dialog[modal] ~ .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.1)
}
